*{
    padding:0;
    margin:0;
}
#nav{
    height:42.8px;
    background-color: #fac8d7;
}
#bar li{
    display:inline-block;
    
}
#bar li a{
    text-decoration: none;
    line-height: 42.8px;
    padding: 3px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    color:black;
}
#bar li p{
    padding:0 50px 0 500px;
}
#header{
    text-align: center;
    background-color: white;
    height:95px;
}
#header img{
    padding-left: 50px;
    display:flex;
    box-sizing: border-box;
    margin: 20px 0;
}
#header img, #header p, #header ul {
    float: left;
    line-height: 85px;
}
#header p{
    padding-left:500px;
}
#header li{
    display:inline-block;
}