*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
#nav{
    height:42.8px;
    background-color: #fac8d7;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999;
}
#bar li{
    display:inline-block;
    
}
#bar li a{
    text-decoration: none;
    line-height: 42.8px;
    padding: 3px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    color:black;
}
#bar li p{
    padding:0 50px 0 500px;
}
#header #new-header-top{
    height: 75px;
    position: block;
}
#new-header-top-wrap{
    position: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 42.8px;
}
#new-header-top-wrap .new-header-top-logo{
    float: left;
    padding-left: 33px;
}
.form-controljs-search-input{
    color: #656363;
    
}

#new-header-top-wrap .new-header-top-actions{
    float: right;
    padding-right: 78px;
}
#new-header-top-wrap .new-header-top-actions-list{
}
#new-header-top-wrap .new-header-top-actions-list li{
    /* float: right;
    padding-right: 78px; */
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
  
}
a{
    text-decoration: none;
    color: #000;
}
#new-header-midle{
    height: 8px;
    background-color: #fac8d7;
}

#new{
    padding-left: 41px;
}

#new-header-menu .menu li{
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;
    background-color: white;
    font-size: 13px;
}
.menu .menu1{
    position: relative;
    
}
.menu1 .danh-muc-san-pham{
    position: absolute;
    z-index: 1;
    margin-right: 80px;
    margin-top: 20px;
    background-color: #fff;
    height: 250px;
    width: 1320px;
    padding: 0 15px;
    display: none;
}
.menu > li >p{
    text-transform: uppercase;
    font-size: 13px;
}
.menu1 .danh-muc-san-pham li{
    display: block !important;
    padding: 5px 0 !important;
    line-height: 1.6;
    font-size: 15px !important;
    font-weight: 100;


}
li.menu1:hover .danh-muc-san-pham{
    display: block;
}

#header{
    margin-bottom: 10px;
}

.menu4 .danh-muc-san-pham{
    position: absolute;
    z-index: 1;
    margin-right: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 250px;
    margin-left: -690px;
    display: none;
}
.menu4{
    position: relative;
}

.danh-muc-san-pham .danh-muc-cha{
    height: 250px;
    background-color: #fff;
    width: 189px;
    padding: 0 15px;

}
.danh-muc-con li{
    display: block !important;
    padding: 5px 0 !important;
    line-height: 1.4;
    font-size: 13px;
}
.header-product{
    font-weight:500;
    font-size: 14px;
}
li.menu4:hover .danh-muc-san-pham{
    display: flex;
}

/* Thêm bảng của collection */
.menu5{
    position: relative;
}
.new-header-menu-mega {
    position: absolute;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 250px;
    margin-top: 20px;
    margin-left: -893px; 
    padding-right: 920px;
    display: none;
}

.new-header-menu-mega .new-header-menu-mega-item .new-header-menu-mega-sub {
    height: 250px;
    background-color: #fff;
    width: 200px;
    padding: 0 15px;
    
}
.new-header-menu-mega-sub li{
    display: block !important;
    padding: 5px 0 !important;
    line-height: 1.4;
    font-size: 13px;
}
li.menu5:hover .new-header-menu-mega{
    display: flex;
}

/* menu6 */
.new-header-menu-mega-list li{
    display: inline-block;
}
.new-header-menu-mega .new-header-menu-mega-list .new-header-menu-mega-item ul{
    padding: 0;
    list-style: none;
}

#slider{
    position: relative;
    background: url('../img/slider.png') top center / cover no-repeat;
    height: 350px;
}

#slider .breadcrumb{
    position: absolute;
    top:100px;
    left: 100px;
}

.breadcrumb .active li{
    display: inline-block;
    font-size: 13px;
    padding-bottom: 10px;
}

#new-container{
    margin-left: 50px;
}

#new-container .new-collection-cates li{
    display: inline-block;
    margin: 20px;
}

.new-collection-cates ul li:not(.new-cates) .new-collection-cate-item-head {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100px;
    margin: 10px;
    vertical-align: middle;
    width:98px;
    height: 98px;
}

.new-collection-cates ul li:not(.new-cates) .new-collection-cate-item-title {
    display: block;
    /* padding-top: 10px; */
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

 /* màu săc, chất liệu, giá */
 #sticky-stack-wrapper {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    /* width: 100%; */
    height: 48px;
    background: #fff;
    padding-left: 50px;
    padding-right: 90px;
}

#sticky-stack-wrapper li{
    display: inline-block;
}
#new-collection-filter-list{
    float: left;
    font-size: 12px;
}
#new-collection-sort{
    float: right;
    line-height: 48px;
    font-size: 14px;
    font-weight:lighter;
}

#new-collection-filter-list ul li{
    /* width: 60px; */
    padding: 15px 20px;
}
#new-collection-sort ul li{
    padding: 0 10px;

}

/* Sản phẩm */
.new-container new-container-fluid{
    width: 4000px;
}
.new-collection-list .new-product-loop{
    width: 375px;
    font-size: 13px;
    /* background-color: #f5f5f5; */
    margin: 2px;
}

.new-collection-list {
  display: flex;
  flex-wrap: wrap;
  float:left;
  padding: 0px 10px;
}

.new-collection-list .new-product-loop .new-product-text{
    text-align: center;
    height: 70px;
    background-color: #f5f5f5;
    /* width: 99.5%; */
    top: 0;
}

.new-product-loop{
    position: relative;
}

.new-product-loop .new-product-box{
    position: absolute;
    top: 2%;
    right: 0;
    background-color: #c5003e;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}
