*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    height:42.8px;
    background-color: #fac8d7;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
#bar li{
    display:inline-block;
    
}
#bar li a{
    text-decoration: none;
    line-height: 42.8px;
    padding: 3px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    color:black;
}
#bar li p{
    padding:0 50px 0 500px;
}
#header #new-header-top{
    height: 75px;
    position: block;
}
#new-header-top-wrap{
    position: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 42.8px;
}
#new-header-top-wrap .new-header-top-logo{
    float: left;
    padding-left: 78px;
}

#new-header-top-wrap .new-header-top-actions{
    float: right;
    padding-right: 78px;
}
#new-header-top-wrap .new-header-top-actions-list{
}
#new-header-top-wrap .new-header-top-actions-list li{
    /* float: right;
    padding-right: 78px; */
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
  
}
a{
    text-decoration: none;
    color: #000;
}
#new-header-midle{
    height: 8px;
    background-color: #fac8d7;
}

#new{
    padding-left: 41px;
}

#new-header-menu .menu li{
    display: inline-block;
    padding: 10px 40px;
    position: relative;
    cursor: pointer;
    background-color: white;
    font-size: 13px;
}

.menu > li >p{
    text-transform: uppercase;
    font-size: 13px;
}

.menu .menu1 .list1{
    display: none;
    position: absolute;
    z-index: 1;
}
li.menu1:hover .list1{
    display: block;
}
.menu1 > .list1 > li {
    display: inline-block;
    width: 200px;
    padding-left: 10px !important;
}
#header{
    margin-bottom: 10px;
}


.menu4 .list2{
    height: 322px;
    width: 1340px;
}
table{
    display: none;
}
th,td{
    padding :6px;
    font-size: 13px;
}
/* Thêm bảng của collection */
.new-header-menu-mega {
    position: absolute;
    display: none;
    background: #fff;
    top: 100%;
    left: 0;
    right: 0;
}

.new-header-menu-mega .new-header-menu-mega-list .new-header-menu-mega-item {
    padding-left: 15px;
    padding-right: 15px;
    min-width: calc(100% / 6);
}

new-header-menu-mega .new-header-menu-mega-list .new-header-menu-mega-item ul{
    padding: 0;
    list-style: none;
}

#slider{
    position: relative;
}

#slider .breadcrumb{
    position: absolute;
    top:100px;
    left: 100px;
}

.breadcrumb .active li{
    display: inline-block;
    font-size: 13px;
    padding-bottom: 10px;
}

#new-container{
    margin-left: 50px;
}

#new-container .new-collection-cates li{
    display: inline-block;
    margin: 20px;
}

.new-collection-cates ul li:not(.new-cates) .new-collection-cate-item-head {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100px;
    margin: 10px;
    vertical-align: middle;
    width:98px;
    height: 98px;
}

.new-collection-cates ul li:not(.new-cates) .new-collection-cate-item-title {
    display: block;
    /* padding-top: 10px; */
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

 /* màu săc, chất liệu, giá */
 #sticky-stack-wrapper {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    /* width: 100%; */
    height: 48px;
    background: #fff;
    padding-left: 50px;
    padding-right: 90px;
}

#sticky-stack-wrapper li{
    display: inline-block;
}
#new-collection-filter-list{
    float: left;
    font-size: 12px;
}
#new-collection-sort{
    float: right;
    line-height: 48px;
    font-size: 14px;
    font-weight:lighter;
}

#new-collection-filter-list ul li{
    /* width: 60px; */
    padding: 15px 20px;
}
#new-collection-sort ul li{
    padding: 0 10px;

}

/* Sản phẩm */
.new-container new-container-fluid{
    width: 4000px;
}
.new-collection-list .new-product-loop{
    width: 25%;
    font-size: 13px;
    /* background-color: #f5f5f5; */
}
.new-product-loop >div:nth-child(1){
    background: url('../img/1.jpg') top center / cover no-repeat;
    /* background-image: url('//product.hstatic.net/200000103143/product/upload_b33724dca1674e7bafb28d71a439c1eb_large.jpg'); */

    height: 382px;
}
.new-collection-list {
  display: flex;
  flex-wrap: wrap;
  float:left;
  padding: 0px 10px;
}
.new-collection-list .new-product-loop img{
    width: 99.5%;
}
.new-collection-list .new-product-loop .new-product-text{
    text-align: center;
    height: 70px;
    background-color: #f5f5f5;
    width: 99.5%;
    top: 0;
}

.new-product-loop{
    position: relative;
}

.new-product-loop .new-product-box{
    position: absolute;
    top: 2%;
    right: 0;
    background-color: #c5003e;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}