*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
#nav{
    height:42.8px;
    background-color: #fac8d7;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999;
}
#bar li{
    display:inline-block;
    
}
#bar li a{
    text-decoration: none;
    line-height: 42.8px;
    padding: 3px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    color:black;
}
#bar li p{
    padding:0 50px 0 500px;
}
#header #new-header-top{
    height: 75px;
    position: block;
}
#new-header-top-wrap{
    position: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 42.8px;
}
#new-header-top-wrap .new-header-top-logo{
    float: left;
    padding-left: 33px;
}
.form-controljs-search-input{
    color: #656363;
    
}

#new-header-top-wrap .new-header-top-actions{
    float: right;
    padding-right: 78px;
}

#new-header-top-wrap .new-header-top-actions-list li{
    /* float: right;
    padding-right: 78px; */
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
  
}
a{
    text-decoration: none;
    color: #000;
}
#new-header-midle{
    height: 8px;
    background-color: #fac8d7;
}

#new{
    padding-left: 41px;
}

#new-header-menu .menu li{
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;
    background-color: white;
    font-size: 13px;
}
.menu .menu1{
    position: relative;
    
}
.menu1 .danh-muc-san-pham{
    position: absolute;
    z-index: 1;
    margin-right: 80px;
    margin-top: 20px;
    background-color: #fff;
    height: 250px;
    width: 1320px;
    padding: 0 15px;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}
.menu > li >p{
    text-transform: uppercase;
    font-size: 13px;
}
.menu1 .danh-muc-san-pham li{
    display: block !important;
    padding: 5px 0 !important;
    line-height: 1.6;
    font-size: 15px !important;
    font-weight: 100;
    
    
}

.new-header-menu .menu .menu1 > a::after {
    content: '';
    position: absolute;
    width: 10px; 
    border-top: 2px solid #fbcad4;
    bottom: 8px;
    left: 15px; 
    display: none;
  }
  
  
  .new-header-menu .menu .menu1 > a:hover::after {
    width: 100%; 
    display: block; 
  }

#header{
    margin-bottom: 10px;
}
.menu3{
    position: relative;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }
span.menu_label_sale {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    background-color: #ffd8d9;
    /* animation: bounce 0.5s alternate cubic-bezier(0.5, 0.05, 1, 0.5) infinite; */
    animation: bounce 0.8s infinite alternate cubic-bezier(0.8, 0.1, 0.8, 0.8);
    position: absolute;
    right: 9px;
    top: -20px;
    z-index: 1;
}

.menu4 .danh-muc-san-pham{
    position: absolute;
    z-index: 1;
    margin-right: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 250px;
    margin-left: -690px;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}
.menu4{
    position: relative;
}

.danh-muc-san-pham .danh-muc-cha{
    height: 250px;
    background-color: #fff;
    width: 189px;
    padding: 0 15px;

}
.danh-muc-con li{
    display: block !important;
    padding: 5px 0 !important;
    line-height: 1.4;
    font-size: 13px;
}
.header-product{
    font-weight:500;
    font-size: 14px;
}
li.menu4:hover .danh-muc-san-pham{
    display: flex;
}

/* Thêm bảng của collection */
.menu5{
    position: relative;
}
.new-header-menu-mega {
    position: absolute;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 250px;
    margin-top: 20px;
    margin-left: -893px; 
    padding-right: 920px;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}

.new-header-menu-mega .new-header-menu-mega-item .new-header-menu-mega-sub {
    height: 250px;
    background-color: #fff;
    width: 200px;
    padding: 0 15px;
    
}
.new-header-menu-mega-sub li{
    display: block !important;
    padding: 5px 0 !important;
    line-height: 1.4;
    font-size: 13px;
}
li.menu5:hover .new-header-menu-mega{
    display: flex;
}

/* menu6 */
.new-header-menu-mega-list li{
    display: inline-block;
}
.new-header-menu-mega .new-header-menu-mega-list .new-header-menu-mega-item ul{
    padding: 0;
    list-style: none;
}

#slider{
    position: relative;
    background: url('../img/slider.png') top center / cover no-repeat;
    height: 350px;
}

#slider .breadcrumb{
    position: absolute;
    top:100px;
    left: 100px;
}

.breadcrumb .active li{
    display: inline-block;
    font-size: 13px;
    padding-bottom: 10px;
}

#new-container{
    margin-left: 50px;
}
.new-container-fluid{
    height: 960px;
}
#new-container .new-collection-cates li{
    display: inline-block;
    margin: 20px;
}

.new-collection-cates ul li:not(.new-cates) .new-collection-cate-item-head {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100px;
    margin: 10px;
    vertical-align: middle;
    width:98px;
    height: 98px;
}

.new-collection-cates ul li:not(.new-cates) .new-collection-cate-item-title {
    display: block;
    /* padding-top: 10px; */
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}


#sticky-stack-wrapper {
    background: #fff;
    padding: 0 50px;
}
#new-collection-filter-list{
    float: left;
}
#new-collection-filter-list .tem1 li{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}
.color > li{
    display: block !important;
    width: 250px !important;
    padding: 10px 20px !important;
} 

.tem1 .color{
    z-index: 1;
    background-color: #fff;
    display: none;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}
li.new-color:hover .color{
    display: block;
}



#new-collection-filter-list ul li{
    padding: 15px 20px;
    
}
.new-color{
    position: relative;
}
.new-color .color{
    position: absolute;
}

.chat-lieu .new-chat-lieu li{
    background-color: #fff;
    width: 250px !important;
    padding: 10px 20px !important;
}

.tem1 .chat-lieu{
    position: relative;
}
.chat-lieu .new-chat-lieu{
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}

li.chat-lieu:hover .new-chat-lieu{
    display: block;
}
.price .new-price li{
    background-color: #fff;
    width: 250px !important;
    padding: 10px 20px !important;
}
.tem1 .price {
    position: relative;
}
.tem1 .price .new-price{
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
}

li.price:hover .new-price{
    display: block;
}

#new-collection-sort ul li{
    padding: 0 10px;

}
#new-collection-sort{
    float: right;
    line-height: 48px;
    font-size: 14px;
    font-weight:lighter;
}

#new-collection-sort li{
    display: inline-block;
}
/* Sản phẩm */
.new-container new-container-fluid{
    width: 4000px;
}
.new-collection-list .new-product-loop{
    width: 24.5%;
    font-size: 13px;
    /* background-color: #f5f5f5; */
    margin: 2px;
}

.new-collection-list {
  display: flex;
  flex-wrap: wrap;
  float:left;
  padding: 0px 10px;
}

.new-collection-list .new-product-loop .new-product-text{
    text-align: center;
    height: 70px;
    background-color: #f5f5f5;
    /* width: 99.5%; */
    top: 0;
}

.new-product-loop{
    position: relative;
}

.new-product-loop .new-product-box{
    position: absolute;
    top: 2%;
    right: 0;
    background-color: #c5003e;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}
#content .add{
    margin: auto;
    height: 35px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 1%;
    line-height: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

#footer{
    height: 520px;
    background-color: #f5f5f5;
}
#footer .new-footer-top{
    height: 175px;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    padding-top: 60px;
    padding-left: 30px;
}
 
.new-footer-top .new-footer-social li{
    display: inline-block;
    padding: 0 7px;
    font-size: 18px;

}

.new-footer-top .new-footer-social,
.new-footer-top .new-footer-newletter{
    height: 175px;
    width: 50%;
}

.new-footer-newletter input{
    height: 46px;
    width: 600px ;
    padding: 7px 12px;
}
.new-footer-newletter{
    line-height: 27px;
}
.new-footer-newletter h4{
    font-size: 14px;
    font-weight: 500;
}
.new-footer-newletter p{
    font-size: 13px;
    margin-bottom: 5px;
}
.new-footer-midle{
    margin-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 50px;
}
.new-footer-midle-item{
    width: 20%;
    line-height: 27px;
}
.new-footer-midle-item h5{
    font-size: 14px;
    font-weight: 400;
}
.new-footer-midle-item li{
    list-style-type: none;
    font-size: 12px;
    
}

.new-footer-bottom{
    /* margin-top: 50px; */
    height: 90px;
    padding: 0 50px;
    line-height: 90px;
}
.new-footer-bottom .new-footer-bottom-left{
    float: left;
    font-size: 13px;
}
.new-footer-bottom .new-footer-bottom-right{
    float: right;
}
.button-social-contact {
    cursor: pointer;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
    height: 38px;
    padding: 0 20px;
    background: #fac8d7;
    color: #27251f;
    position: fixed;
    right: -38px;
    z-index: 12;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 4px 4px;
}
.btn{
    padding: 6px 12px;
    background-color: #fac8d7;
    border: 0;
    font-size: 14px;
    opacity: 0.6;
}